@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
.root,
#root,
#docs-root {
	font-family: "Poppins", sans-serif;
	--primary: #2b4cde;
	--primary-dark: #152c5b;
	--pink: #ff498b;
	--yellow: #ffcc47;
	--gray: #6f6f6f;
	--dark-gray: #585858;
}

@layer components {
	.card {
		@apply relative w-full h-full overflow-hidden rounded-[15px] first-of-type:row-span-2;
	}
}
