@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
.root,
#root,
#docs-root {
	font-family: "Poppins", sans-serif;
	--primary: #2b4cde;
	--primary-dark: #152c5b;
	--pink: #ff498b;
	--yellow: #ffcc47;
	--gray: #e5e5e5;
	--dark-gray: #b0b0b0;
}
